body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align:center;
}
/*
div {
  background-color: #5584AC;
} */

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 20px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}


a {
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-color: #66BFBF;
  border-style: dotted none none;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

/****************CLASS********************/

.top-container {
  background-color: #22577E;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.middle-container {
  margin: 100px 0;
}


.intro {
  width: 30%;
  margin: auto auto auto auto;
}

/*************** PROFILE IMAGES*****************/
.profile-img {
  width: 20%;
  padding-bottom: 50px;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

/*************** SKILLS IMAGES*****************/
.skill-prog-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}
.skill-graph-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}
.skill-travel-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.contact-me {
  margin: 100px auto 100px auto;
}

.contact-me-desc {
  width: 40%;
  margin: 40px auto 60px;
}

/*************** CONTACT ME BUTTON*****************/
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #0093AB;
  padding: 50px 0 20px;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px 20px 20px;
  color: #006778;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom:300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right:300px;
  top: 50px;

}
